 <div class="m-5"><div class="border-start border-dark-subtle border-5 ms-2"> <h6>Your Question:</h6>
  <p><%= @question %></p></div>

   <div class="col-6"><div class="row"><div class="border-start border-dark-subtle border-5 bg-warning ms-3"><h6>Coach's Answer:</h6>
  <p><%= @answer %></p></div></div></div>
  <%= link_to "Go Back!!", ask_path %></div>